/* LaraDesk CSS */

/* Structural */
.page
{
	padding-top: 60px;
}

/* Bootstrap Fine Tuning */


/* Ticket Show View */
.comment_box
{
	height: 255px;
	overflow-y: scroll;
}

.comment_box ul
{
	padding-left: 0;
}